{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="container sub-page">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>Edit {{category.name}}</h1>

            <form action="{{ url_for('editCategory',category_id = category.id)}}"
                  method="post">
                <div class="form-group">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" name="name"
                           value="{{category.name }}">
                    <button type="submit" class="btn btn-default" id="submit">
                        <span class="glyphicon glyphicon-ok"
                              aria-hidden="true"></span>Save
                    </button>
                    <a href="{{url_for('showAllItems', category_id = category.id)}}">
                        <button type="button" class="btn btn-default delete">
                            <span class="glyphicon glyphicon-remove"
                                  aria-hidden="true"></span> Cancel
                        </button>
                    </a>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% include "footer.html" %} {% endblock %}